/** @format */

@import "tailwindcss";

:root {
  /* Font and base styles */
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Root color variables */
  --color-primary: #1a3c7e;
  --color-secondary: #7D7D7D
  --color-text-dark: ##1E1E1E;
  --color-text-light: #ffffff;
  --color-bg-light: #F5F5F5
  --color-error: #F95353;
  --color-success: #64FF5C;
  --color-text-semidark: #444444;
}
